@media only screen and (max-width: 500px) {
    body {
        font-family: 'Raleway', sans-serif;

        background: url(../media/turtleneckMobile.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    ul {
        list-style: none;
        font-size: 20px;
    }

    li {
        height: 20px;
        padding: 10px;
    }

    #liveHost a {
        color: white;
        text-decoration: none;
        background-color: rgba(89, 120, 200, .8);
        border-radius: 8px;
        padding: 2px;
    }

    a:hover {
        text-decoration: underline;
    }

    #pageContent {
        margin-top: 25%;
        color: white;
        margin-bottom: 15%;
    }

    #leftContent {
        width: 50%;
    }

    #rightContent {
        display: none;
    }

    #footer {
/*        position: fixed;*/
        left: 0;
        bottom: 2%;
        width: 100%;
        color: white;
        text-align: center;
    }

    #icons {
        align-items: center;
        display: inline-block;
        font-size: 2em;
	}

    #icons a {
        color: white;
    }

    #icons a:hover {
        color: #dddddd;
    }

    /*style for each logo*/
    .fa {
        text-align: center;
        padding-right: 20px;
        /*text-decoration: none;
        margin-left: 10px;
        padding-left: 8px;*/
    }

    .fa:hover {
        color: grey;
        /*opacity: 0.45;*/
    }

    .fa:hover::after {
        width: 0%;
        opacity: 0.45;
    }

    .fa-linkedin {
        background: #666666;
        color: white;
    }

}

@media only screen and (min-width: 501px) {
    body {
        font-family: 'Raleway', sans-serif;

        background: url(../media/turtleNeck5.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    #icons {
        display: none;
    }

    h1 {
        font-size: 3em;
        margin-bottom: 2%;
    }

    ul {
        list-style: none;
        font-size: 20px;
    }

    li {
        height: 20px;
        padding: 10px;
    }

    a {
        color: white;
        text-decoration: none;
    }

    #pageContent {
        display: inline-block;
        color: white;
        position: absolute;
        bottom: 0;
        width: 100%;
        margin-left: 2%;
    }

    #leftContent {
        float: left;
        width: 52%;
        position: relative;
        margin-bottom: 7%;
    }

    #rightContent {
        bottom: 0;
        right: 4%;
        width: 44%;
        text-align: right;
        float: left;
        position: absolute;
    }

    #rightContent a:hover {
        text-decoration: underline;
        font-size: 22px;
    }
}

#emailInText {
    color: rgb(89, 120, 200);
    background-color: rgba(255, 255, 255, .85);
    border-radius: 3px;
}

#emailInText:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(89, 120, 200);
}